[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=compton
Comment=
Exec=/usr/bin/compton --backend glx --paint-on-overlay --vsync opengl-swc
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=true

